spring:
  application:
    name: Onboarding-api
  datasource:
    url: jdbc:postgresql://ep-muddy-mountain-a49jffvc-pooler.us-east-1.aws.neon.tech:5432/onboarding-api?sslmode=require
    username: ${DB_USERNAME:neondb_owner}
    password: ${DB_PASSWORD:npg_OQ4NUEJr5bxu}
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  cache:
    type:
      redis
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:password}
      timeout: 2000
      connect-timeout: 2000
logging:
  config: classpath:logback.xml
management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  metrics:
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true
  prometheus:
    metrics:
      export:
        enabled: true
backup:
  path: ./backups
  pg:
    dump-path: ${PG_DUMP_PATH:C:/Program Files/PostgreSQL/17/bin/pg_dump.exe}
    host: ep-muddy-mountain-a49jffvc-pooler.us-east-1.aws.neon.tech
    port: 5432
    dbname: onboarding-api
    username: ${DB_USERNAME:neondb_owner}
    password: ${DB_PASSWORD:npg_OQ4NUEJr5bxu}
